[submodule "rpi-grafana"]
	path = rpi-grafana
	url = https://github.com/heziegl/rpi-grafana.git
[submodule "rpi-mosquitto"]
	path = rpi-mosquitto
	url = https://github.com/pascaldevink/rpi-mosquitto
[submodule "rpi-speedtest-cli"]
	path = rpi-speedtest-cli
	url = https://github.com/ivyleavedtoadflax/rpi-speedtest-cli.git
